* {
	padding: 0;
	margin: 0;
}

.top {
	background-color: #424242;
}

nav {
	padding: 0 3% 0;
	display: flex;
	justify-content: space-between;
}

.box {
	display: flex;
}

.box:first-child div {
	padding: 20px 40px 20px 20px;
}

.box:last-child div {
	padding: 20px 30px;
}

.box div:hover {
	background-color: #111;
}
.box a {
	color: #898989;
	text-decoration: none;
	font-family: Arial;
	font-size: 20px;
}

.number{	
	display: flex;
	justify-content: space-between;
}

.number a{
	margin-right: 25%;
}

.number p{
	width: 35px;
	height: 12px;
	padding: 4px 14px 5px;
	text-align: center;
	background-color: #ed1c24;
	color: #fff;
	font-family: Arial;
	font-size: 12px;
	border-radius: 22px;
}

main {
	width: 100%;
	display: flex;
}

aside {
	width: 20%;
}

ul {
	font-size: 22px;	
}

.fas {
	font-size: 40px;
}

.menu a{
	color: #111;
	text-decoration: none;
	font-family: Arial;
	font-size: 23px;
	transition: all .2s ease-out;
}

.menu a:hover {
	color: #1206f9;
}

.icon:hover .fas{
	color: #1206f9;
}

.menu div {
	padding: 40px 0 20px 50px;
	width: 220px;
	display: flex;
	/*justify-content: space-between;*/
}

.menu i {
	width: 65px;
}
 
section {
	width: 80%;
}